<vex-page-layout>
    <vex-secondary-toolbar current="Dispositivos">
      <!-- BREADCRUMBS -->
      <div class="flex items-center">
        <vex-breadcrumb>
          <a [routerLink]="['/']">
            <i class="fas fa-home"></i>
          </a>
        </vex-breadcrumb>
        <ng-container>
          <div class="w-1 h-1 bg-gray rounded-full ltr:mr-2 rtl:ml-2"></div>
          <vex-breadcrumb>
            <a [routerLink]="[]" (click)="openList()">Dispositivos</a>
            <!-- rgba(59, 130, 246, 0.5); -->
          </vex-breadcrumb>
        </ng-container>
        <ng-container *ngIf="stepsData.step=='device'">
          <div class="w-1 h-1 bg-gray rounded-full ltr:mr-2 rtl:ml-2"></div>
          <vex-breadcrumb>
            <a [routerLink]="[]">{{stepsData.data.nombre}}</a>
          </vex-breadcrumb>
        </ng-container>
      </div>
      <!-- BREADCRUMBS -->
    </vex-secondary-toolbar>
    <vex-page-layout-content fxLayout="column" fxLayoutAlign="space-around none" fxLayoutGap="24px" vexContainer>
      <vex-list-device *ngIf="stepsData.step=='list'" (openDeviceEmitter)="openDevice($event)"></vex-list-device>
      <template #containerStep (openSincronizeEmitter)="openSincronize($event)"></template>
    </vex-page-layout-content>
</vex-page-layout>