<vex-page-layout>
    <vex-secondary-toolbar current="Sincronizar">
      <vex-breadcrumbs [crumbs]="['Sincronizar', 'Vex']" fxFlex="auto"></vex-breadcrumbs>
      <button class="ml-2" color="primary" mat-icon-button type="button">
        <mat-icon [icIcon]="icBeenhere"></mat-icon>
      </button>
    </vex-secondary-toolbar>
    <vex-page-layout-content fxLayout="column" fxLayoutAlign="space-around none" fxLayoutGap="24px" vexContainer>
      <div class="grid grid-cols-4 gap-4">
        <div>

            <div class="row">
              <div class="col">
                <div class="subitem">
                  <label class="uk-form-label" for="form-stacked-select">Dispositivo de prueba</label>
                  <div class="uk-form-controls borderDarkgrey">
                    <select (change)="changeDevice($event.target.value)" class="uk-select" id="form-stacked-select">
                      <option [value]="device.key" *ngFor="let device of devicesList | keyvalue" value="1">{{device.value.nombre}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="page" style="height: 85%;">
              <div class="marvel-device s5">
                <div class="top-bar"></div>
                <div class="sleep"></div>
                <div class="volume"></div>
                <div class="camera"></div>
                <div class="screen">
                  <div class="screen-container">
                    <div class="status-bar">
                      <div class="time"></div>
                      <div class="battery">
                        <i class="zmdi zmdi-battery"></i>
                      </div>
                      <div class="network">
                        <i class="zmdi zmdi-network"></i>
                      </div>
                      <div class="wifi">
                        <i class="zmdi zmdi-wifi-alt-2"></i>
                      </div>
                      <div class="star">
                        <i class="zmdi zmdi-star"></i>
                      </div>
                    </div>
                    <div class="chat">
                      <div class="chat-container">
                        <div class="user-bar">
                          <div class="back">
                            <i class="fas fa-arrow-left"></i>
                          </div>
                          <div class="avatar">
                            <!-- <img height="32px" width="42px" src="./assets/images/logowhite.png" alt=""> -->
                            <img class="roundImage" [src]="infoStatus?.data?.profilePicUrl" alt="">
                          </div>
                          <div class="name">
                            <span>{{infoStatus?.data.info.pushname}}</span>
                          </div>
                          <div class="actions more">
                            <i class="zmdi zmdi-more-vert"></i>
                          </div>
                          <div class="actions attachment">
                            <i class="zmdi zmdi-attachment-alt"></i>
                          </div>
                          <div class="actions">
                            <i class="zmdi zmdi-phone"></i>
                          </div>
                        </div>
                        <div class="conversation">

                          <div class="conversation-container">
                            <div class="message received" style="display:grid;" *ngIf="(_adjuntosList.length>0) && ( adjuntoActividad.controls['extension'].value =='jpg' || adjuntoActividad.controls['extension'].value =='jpeg' || adjuntoActividad.controls['extension'].value =='png' )">
                              <span style="text-align: center;padding-bottom: 6px;"><img [src]="_adjuntoImagen" onError="this.src='./assets/images/loading.png'"alt=""></span>  
                              <!-- <span style="text-align: center;"><img src="./assets/images/faces/6.jpg" [alt]="user?.name" style="max-width: 130px;"></span>   -->
                              <span id="random" [innerHTML]="envioForm.get('mensaje').value? Utils.replaceWithBolds(replacePatternToShow(envioForm.get('mensaje').value)):''"></span>
                              <!-- <span>FAKE1</span> --> 
                            </div>
                            <div class="message received" style="display:grid;" *ngIf="(_adjuntosList.length>0) && ( adjuntoActividad.controls['extension'].value !='jpg' && adjuntoActividad.controls['extension'].value !='jpeg' && adjuntoActividad.controls['extension'].value !='png' && adjuntoActividad.controls['extension'].value != null )">
                              <span style="padding-bottom: 6px;"><i class="fas fa-file"></i>{{adjuntoActividad.controls['nombre'].value}}</span>  
                              <!-- <span>FAKE2</span> -->
                            </div>
                            <div class="message received" style="display:grid;" *ngIf="(_adjuntosList.length>0) && envioForm.get('mensaje').value!='' && ( adjuntoActividad.controls['extension'].value !='jpg' && adjuntoActividad.controls['extension'].value !='jpeg' && adjuntoActividad.controls['extension'].value !='png' && adjuntoActividad.controls['extension'].value != null  )">
                              <!-- <span style="text-align: center;"><img src="./assets/images/faces/6.jpg" [alt]="user?.name" style="max-width: 130px;"></span>   -->
                              <span id="random" [innerHTML]="envioForm.get('mensaje').value? Utils.replaceWithBolds(replacePatternToShow(envioForm.get('mensaje').value)):''"></span>
                              <!-- <span>FAKE3</span> -->
                            </div>
                            <div class="message received" *ngIf="_adjuntosList.length==0 && envioForm.get('mensaje').value!=''">
                              <span id="random" [innerHTML]="envioForm.get('mensaje').value? Utils.replaceWithBolds(replacePatternToShow(envioForm.get('mensaje').value)):''"></span>
                              <span class="metadata"><span class="time"></span></span>
                            </div>
                          </div>
      
                          <form class="conversation-compose">
                            <div class="emoji">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" id="smiley" x="3147" y="3209"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.153 11.603c.795 0 1.44-.88 1.44-1.962s-.645-1.96-1.44-1.96c-.795 0-1.44.88-1.44 1.96s.645 1.965 1.44 1.965zM5.95 12.965c-.027-.307-.132 5.218 6.062 5.55 6.066-.25 6.066-5.55 6.066-5.55-6.078 1.416-12.13 0-12.13 0zm11.362 1.108s-.67 1.96-5.05 1.96c-3.506 0-5.39-1.165-5.608-1.96 0 0 5.912 1.055 10.658 0zM11.804 1.01C5.61 1.01.978 6.034.978 12.23s4.826 10.76 11.02 10.76S23.02 18.424 23.02 12.23c0-6.197-5.02-11.22-11.216-11.22zM12 21.355c-5.273 0-9.38-3.886-9.38-9.16 0-5.272 3.94-9.547 9.214-9.547a9.548 9.548 0 0 1 9.548 9.548c0 5.272-4.11 9.16-9.382 9.16zm3.108-9.75c.795 0 1.44-.88 1.44-1.963s-.645-1.96-1.44-1.96c-.795 0-1.44.878-1.44 1.96s.645 1.963 1.44 1.963z" fill="#7d8489"/></svg>
                            </div>
                            <input class="input-msg" name="input" placeholder="Type a message" autocomplete="off" autofocus disabled>
                            <div class="photo">
                              <i class="zmdi zmdi-camera"></i>
                            </div>
                            <button class="send">
                                <div class="circle">
                                  <i class="fas fa-paper-plane"></i>
                                </div>
                              </button>
                          </form>
      
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-primary" style="height:42px; width: 100%;" (click)="getConvertedMessages()">Enviar</button>
              </div>
            </div>



        </div>
        <div class="col-span-3">
          <div class="uk-card uk-card-body uk-white uk-width-1-1@m" style="padding-bottom: 0px;">
            <h3 class="uk-card-title">Datos de campaña</h3>
              <form class="uk-form-stacked" [formGroup]="envioForm">
                <div class="uk-margin">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="subitem">
                        <label class="uk-form-label" for="form-stacked-select">Nombre de campaña</label>
                        <div class="uk-form-controls borderDarkgrey">
                          <input formControlName="numeroUno" class="uk-input" id="form-stacked-text" type="text" placeholder="Nombre de campaña">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <div class="subitem">
                        <label class="uk-form-label" for="form-stacked-select">Grupo de camapaña</label>
                        <div class="uk-form-controls borderDarkgrey">
                          <select formControlName="destino" class="uk-select" id="form-stacked-select">
                            <option value="1">Grupo 1</option>
                            <option value="2">Grupo 2</option>
                            <option value="3">Grupo 3</option>
                            <option value="4">Grupo 4</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                    <!-- <label class="uk-form-label" for="form-stacked-text">Dispositivo*</label>
                    <div class="uk-form-controls borderDarkgrey">
                        <input formControlName="dispositivo" class="uk-input" id="form-stacked-text" type="text" placeholder="Dispositivo">
                    </div> -->
                </div>
                <div class="uk-margin">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="subitem">
                        <label class="uk-form-label" for="form-stacked-select">Destino</label>
                        <div class="uk-form-controls borderDarkgrey">
                            <select formControlName="destino" class="uk-select" id="form-stacked-select">
                                <option value="telefono">Telefono</option>
                                <option value="grupo">Grupo</option>
                                <option value="difusion">Lista de difusion</option>
                            </select>
                        </div>
                      </div>
                      <div class="subitem">
                        <div class="justifyContent">
                          <label class="uk-form-label" for="form-stacked-select">Entregar ahora</label>
                          <mat-slide-toggle formControlName="entregarAhora" color="primary"></mat-slide-toggle>
                        </div>
                        <div *ngIf="!envioForm.controls.entregarAhora.value" class="uk-form-controls borderDarkgrey">
                          <input formControlName="entregarAhoraValue" class="uk-input" id="form-stacked-text" type="datetime-local">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <div class="subitem">
                        <label class="uk-form-label" for="form-stacked-select">Data</label>
                        <div class="uk-form-controls">
                          <vex-file-upload [id]="'dropzonemultimedia'" [maxFiles]="1" (change)="onSelectcampana($event)" (removed)="onRemovecampana($event)" [label]="'XLS'" style="zoom: 70%;"></vex-file-upload>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
   
                      <div class="subitem">
                        <label class="uk-form-label" for="form-stacked-select">Mensaje</label>
                        <div>
                          <div class="buttonsFilterContainer">
                            <div *ngIf="filesprueba.length > 0 || filescampana.length > 0">
                              <button style="margin: 5px;" type="button" class="btn btn-primary btn-sm" (click)="concatParamInMessage(i)" *ngFor="let i of excelHeaders">{{i}}</button>
                            </div>
                          </div>
                        </div>
                        <div class="uk-form-controls">
                          <textarea id="textAreaMessage" #textAreaMessage formControlName="mensaje" class="borderDarkgrey" rows="10" uk-textarea style="width: 100%;"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <div class="subitem">
                        <label class="uk-form-label" for="form-stacked-select">Data Prueba</label>
                        <div class="uk-overflow-auto tableHeigth excelTableBorder">
                          <table class="uk-table uk-table-hover uk-table-middle uk-table-divider" style="zoom: 70%;">
                              <thead>
                                <tr>
                                  <th class="uk-table-shrink" *ngFor="let h of excelHeaders;let i = index">{{h}}</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let m of messagesArray | slice:0:100; let i = index" (click)="selectRowItem(i)">
                                  <td class="uk-text-truncate" *ngFor="let h of excelHeaders;let i = index">{{m[i+2]}}</td>
                                </tr>
                              </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-3">
                      <div class="subitem">
                        <label class="uk-form-label" for="form-stacked-select">Número 1</label>
                        <div class="uk-form-controls borderDarkgrey">
                          <input formControlName="numeroUno" class="uk-input" id="form-stacked-text" type="text" placeholder="Número 1">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                      <div class="subitem">
                        <label class="uk-form-label" for="form-stacked-select">Número 2</label>
                        <div class="uk-form-controls borderDarkgrey">
                          <input formControlName="numeroDos" class="uk-input" id="form-stacked-text" type="text" placeholder="Número 2">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                      <div class="subitem">
                        <label class="uk-form-label" for="form-stacked-select">Número 3</label>
                        <div class="uk-form-controls borderDarkgrey">
                          <input formControlName="numeroTres" class="uk-input" id="form-stacked-text" type="text" placeholder="Número 3">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                      <div class="subitem">
                        <label class="uk-form-label" for="form-stacked-select">&nbsp;</label>
                        <div class="uk-form-controls">
                          <button type="button" class="btn btn-primary" style="height:42px; width: 100%;" (click)="probar()">Probar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="uk-margin">

                </div> -->
              </form>
          </div>



          <mat-card class="max-w-full">
            <mat-card-header>
              <!-- <mat-card-subtitle>Yesterday</mat-card-subtitle> -->
              <mat-card-title>Adjuntos</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <!-- <form (ngSubmit)="save()" [formGroup]="profileForm">
                <mat-dialog-content fxLayout="column">
                  <mat-form-field appearance="outline" class="vex-flex-form-field" color="primary">
                    <mat-label>Nombre de campaña</mat-label>
                    <input formControlName="nombre" matInput>
                  </mat-form-field>
                </mat-dialog-content>
                <mat-slide-toggle [checked]="false">Enviar ahora</mat-slide-toggle>
                <br>
                <br>
                <div class="grid grid-cols-2 gap-4">
                  <button type="button" class="btn btn-primary btn-sm">Enviar campaña</button>
                  <button type="button" class="btn btn-success btn-sm">Enviar prueba</button>
                </div>
                <br>
                <mat-form-field appearance="outline" class="flex-auto" style="width: 100%;">
                  <mat-label>Mensaje</mat-label>
                  <textarea formControlName="notes" rows="10" matInput></textarea>
                </mat-form-field>
              </form> -->

  

              <vex-multifiletableupload [id]="'dropzonemultimedia'" [maxFiles]="3" (change)="onSelectmultimedia($event)" (selectImage)="changeFile($event)" (removed)="onRemovemultimedia($event)" [label]="'Imagen / Video / Pdf'" style="zoom: 70%;"></vex-multifiletableupload>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
    </vex-page-layout-content>
  </vex-page-layout>
  