<div class="grid gap-4 grid-cols-3" @fadeInUp>
    <div class="col-span-1">
      <div class="page">
        <div class="marvel-device s5">
          <div class="top-bar"></div>
          <div class="sleep"></div>
          <div class="volume"></div>
          <div class="camera"></div>
          <div class="screen">
            <div class="screen-container">
              <div class="status-bar">
                <div class="time"></div>
                <div class="battery">
                  <i class="zmdi zmdi-battery"></i>
                </div>
                <div class="network">
                  <i class="zmdi zmdi-network"></i>
                </div>
                <div class="wifi">
                  <i class="zmdi zmdi-wifi-alt-2"></i>
                </div>
                <div class="star">
                  <i class="zmdi zmdi-star"></i>
                </div>
              </div>
              <div class="chat">
                <div class="chat-container">
                  <div class="user-bar">
                    <div class="back">
                      <i class="fas fa-arrow-left"></i>
                    </div>
                    <div class="name">
                      &nbsp;
                      &nbsp;
                      <span>{{infoStatus?.data.info.pushname}}</span>
                      &nbsp;
                    </div>
                    <div class="actions more">
                    </div>
                    <div class="actions attachment">
                      <i class="zmdi zmdi-attachment-alt"></i>
                    </div>
                    <div class="actions">
                      <!-- <i class="fas fa-pen"></i> -->
                    </div>
                  </div>
                  <div class="conversation">
  
                    <div class="conversation-container" style="padding: 0px;">
                      <div *ngIf="infoStatus" style="padding: 20px 0px;">
                        <img class="roundImage" [src]="infoStatus.data.profilePicUrl" alt="">
                      </div>
                      <div class="label" (click)="openEdit()">
                        <span>{{infoStatus?.data.info.pushname}}</span>
                        <i class="fas fa-pen" style="color: #005E54;"></i>
                      </div>
                      <div class="labelDos" style="margin-top: 25px;margin-top:25px">
                        <span style="font-size: 15px;font-weight: bold;color: #005E54;">Info</span>
                      </div>
                      <div class="labelDos" style="border-bottom: 1px solid #eeeeee;">
                        <span>{{infoStatus?.data.about}}</span>
                      </div>
                      <div class="labelDos">
                        <span>+{{infoStatus?.data.info.me.user}}</span>
                      </div>
                    </div>
  
                    <!-- <form class="conversation-compose">
                      <div class="emoji">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" id="smiley" x="3147" y="3209"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.153 11.603c.795 0 1.44-.88 1.44-1.962s-.645-1.96-1.44-1.96c-.795 0-1.44.88-1.44 1.96s.645 1.965 1.44 1.965zM5.95 12.965c-.027-.307-.132 5.218 6.062 5.55 6.066-.25 6.066-5.55 6.066-5.55-6.078 1.416-12.13 0-12.13 0zm11.362 1.108s-.67 1.96-5.05 1.96c-3.506 0-5.39-1.165-5.608-1.96 0 0 5.912 1.055 10.658 0zM11.804 1.01C5.61 1.01.978 6.034.978 12.23s4.826 10.76 11.02 10.76S23.02 18.424 23.02 12.23c0-6.197-5.02-11.22-11.216-11.22zM12 21.355c-5.273 0-9.38-3.886-9.38-9.16 0-5.272 3.94-9.547 9.214-9.547a9.548 9.548 0 0 1 9.548 9.548c0 5.272-4.11 9.16-9.382 9.16zm3.108-9.75c.795 0 1.44-.88 1.44-1.963s-.645-1.96-1.44-1.96c-.795 0-1.44.878-1.44 1.96s.645 1.963 1.44 1.963z" fill="#7d8489"/></svg>
                      </div>
                      <input class="input-msg" name="input" placeholder="Type a message" autocomplete="off" autofocus disabled>
                      <div class="photo">
                        <i class="zmdi zmdi-camera"></i>
                      </div>
                      <button class="send">
                          <div class="circle">
                            <i class="fas fa-paper-plane"></i>
                          </div>
                        </button>
                    </form> -->
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-2" style="background: white;">

      <div class="grid gap-4 grid-cols-5 itemCardContainer">
        <div class="itemCard col-span-3">
          <div style="display:flex">
            <span class="title">{{infoStatus?.data.info.phone.device_manufacturer}}</span>&nbsp;&nbsp;
            <!-- <button matTooltip="Favorite this"><i style="color: skyblue;" class="fas fa-info-circle"></i></button> -->
          </div>
          <div style="display: flex;">
            <!-- <span>{{infoStatus?.data.info.phone.device_manufacturer}}</span> -->
          </div>
        </div>
        <div class="itemCard col-span-2">
          <!-- <button mat-raised-button color="primary"><i class="fas fa-redo-alt"></i>&nbsp;&nbsp;Recargar</button>&nbsp;&nbsp;
          <button mat-raised-button color="primary">Acciones</button> -->
        </div>
      </div>
      
      <div class="grid gap-4 grid-cols-3 itemCardContainer">
        <div class="itemCard">
          <div style="display:flex">
            <span class="title">ID</span>&nbsp;&nbsp;
            <button matTooltip="Favorite this"><i style="color: skyblue;" class="fas fa-info-circle"></i></button>
          </div>
          <div style="display: flex;">
            <span>3a12s2112s12e12s1</span>
          </div>
        </div>
        <div class="itemCard">
          <div style="display:flex">
            <span class="title">Número de telefono</span>&nbsp;&nbsp;
            <button matTooltip="Favorite this"><i style="color: skyblue;" class="fas fa-info-circle"></i></button>
          </div>
          <div style="display: flex;">
            <span>{{infoStatus?.data.info.wid.user}}</span>
          </div>
        </div>
        <div class="itemCard">
          <div style="display:flex">
            <span class="title">ID de Whatsapp</span>&nbsp;&nbsp;
            <button matTooltip="Favorite this"><i style="color: skyblue;" class="fas fa-info-circle"></i></button>
          </div>
          <div style="display: flex;">
            <span>{{infoStatus?.data.info.wid._serialized}}</span>
          </div>
        </div>
      </div>
      <div class="grid gap-4 grid-cols-3 itemCardContainer">
        <div class="itemCard">
          <div style="display:flex">
            <span class="title">Bateria</span>&nbsp;&nbsp;
            <button matTooltip="Favorite this"><i style="color: skyblue;" class="fas fa-info-circle"></i></button>
          </div>
          <div style="display: flex;">
            <button><i *ngIf="infoStatus?.data.battery.plugged" class="fas fa-plug"></i></button>&nbsp;&nbsp;
            <button><i class="fas fa-battery-three-quarters"></i></button>&nbsp;&nbsp;<span>{{infoStatus?.data.battery.battery}}%</span>
          </div>
        </div>
        <div class="itemCard">
          <div style="display:flex">
            <span class="title">Estado</span>&nbsp;&nbsp;
            <button matTooltip="Favorite this"><i style="color: skyblue;" class="fas fa-info-circle"></i></button>
          </div>
          <div style="display: flex;align-items: baseline;">
            <span>{{infoStatus?.data._state}}</span>&nbsp;&nbsp;
            <button matTooltip="Restaurar Sesion" (click)="restoreClient()" class="buttonReload"><i class="fas fa-redo-alt"></i></button>
            <button matTooltip="Sincronizar" (click)="openSincronize()" class="buttonReload"><i class="fas fa-sync"></i></button>
            <button matTooltip="Cerrar Sesión" (click)="logout()" class="buttonReload"><i class="far fa-times-circle"></i></button>
          </div>
        </div>
        <div class="itemCard">
          <div style="display:flex">
            <span class="title">Estado de la sesión</span>&nbsp;&nbsp;
            <button matTooltip="Favorite this"><i style="color: skyblue;" class="fas fa-info-circle"></i></button>
          </div>
          <div style="display: flex;align-items: baseline;">
            <span>{{infoStatus?.data._state}}</span>&nbsp;&nbsp;
            <button matTooltip="Restaurar Sesion" (click)="restoreClient()" class="buttonReload"><i class="fas fa-redo-alt"></i></button>
          </div>
        </div>
      </div>
      <div class="grid gap-4 grid-cols-3 itemCardContainer">
        <div class="itemCard">
          <div style="display:flex">
            <span class="title">Versión WhatsApp</span>&nbsp;&nbsp;
            <button matTooltip="Favorite this"><i style="color: skyblue;" class="fas fa-info-circle"></i></button>
          </div>
          <div style="display: flex;">
            <span>{{infoStatus?.data.info.phone.wa_version}}</span>
          </div>
        </div>
        <div class="itemCard">
          <div style="display:flex">
            <span class="title">Cliente de WhatsApp</span>&nbsp;&nbsp;
            <button matTooltip="Favorite this"><i style="color: skyblue;" class="fas fa-info-circle"></i></button>
          </div>
          <div style="display: flex;">
            <span>{{infoStatus?.data.web}}</span>
          </div>
        </div>
        <div class="itemCard">
          <div style="display:flex">
            <span class="title">Plataforma</span>&nbsp;&nbsp;
            <button matTooltip="Favorite this"><i style="color: skyblue;" class="fas fa-info-circle"></i></button>
          </div>
          <div style="display: flex;">
            <span>{{infoStatus?.data.info.platform}}@{{infoStatus?.data.info.phone.os_version}}</span>
          </div>
        </div>
      </div>

      <div class="container">
        <form class="uk-form-stacked" [formGroup]="envioForm">
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <div class="subitem">
                <label class="uk-form-label" for="form-stacked-select">Mensaje</label>
                <div class="uk-form-controls borderDarkgrey">
                  <input formControlName="mensaje" class="uk-input" id="form-stacked-text" type="text" placeholder="Mensaje">
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="subitem">
                <label class="uk-form-label" for="form-stacked-select">Número 1</label>
                <div class="uk-form-controls borderDarkgrey">
                  <input formControlName="numeroUno" class="uk-input" id="form-stacked-text" type="text" placeholder="Número 1">
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="subitem">
                <label class="uk-form-label" for="form-stacked-select">Número 2</label>
                <div class="uk-form-controls borderDarkgrey">
                  <input formControlName="numeroDos" class="uk-input" id="form-stacked-text" type="text" placeholder="Número 2">
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="subitem">
                <label class="uk-form-label" for="form-stacked-select">&nbsp;</label>
                <div class="uk-form-controls">
                  <button type="button" class="btn btn-primary" style="height:42px; width: 100%;" (click)="probar()">Probar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
</div>