<ngx-dropzone id="{{id}}" (change)="changeFile($event)" [multiple]="false" style="height: 186px;">
    <ngx-dropzone-label>
        <img style="width: 110px;margin-left: auto;margin-right: auto;" class="rounded-circle" src="./assets/plus.png">
        {{label}}
    </ngx-dropzone-label>
</ngx-dropzone>

<div>
<br><br>
    <!-- <ul class="files">
        <li *ngFor="let f of imgDataArray">
            <div class="file_link">
                <div class="link_icon">
                    <div *ngIf="f.fileExtension=='xlsx' || currentFileExtension=='xls'" class="img_icon" [style.background-image]="'url(./assets/fileFormat/xls.png)'"></div>
                    <div *ngIf="f.fileExtension=='pdf'" class="img_icon" [style.background-image]="'url(./assets/fileFormat/pdf.png)'"></div>
                    <div *ngIf="f.fileIsImage" class="img_icon" [style.background-image]="'url(' + f.preview + ')'"></div>
                    <div *ngIf="!f.fileIsImage && f.fileExtension!='xlsx' && f.fileExtension!='xls' && f.fileExtension!='pdf'" class="img_icon" [style.background-image]="'url(./assets/fileFormat/media.png)'"></div>
                </div>
                <div class="details">
                    <p class="textOverflow">{{ f.name }}</p>
                    <small>
                        <span>{{ f.fileExtension }}</span>
                    </small>
                </div>
            </div>
        </li>
    </ul> -->

    <!-- TABLE BOOTSTRAP -->

    <div class="uk-overflow-auto">
        <table *ngIf="imgDataArray.length>0" class="uk-table uk-table-hover uk-table-middle uk-table-divider">
            <thead>
                <tr>
                    <th class="uk-table-shrink"></th>
                    <th class="uk-table-shrink">Nombre</th>
                    <th class="uk-table-expand">Tipo</th>
                    <th class="uk-width-small">Tamaño</th>
                    <th class="uk-width-small">Estado</th>
                    <th class="uk-table-shrink uk-text-nowrap">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let f of imgDataArray;let i = index" (click)="selectimage(f)">
                    <td><input class="uk-checkbox" type="checkbox"></td>
                    <td>
                        <img class="uk-preserve-width uk-border-circle" *ngIf="currentFileExtension=='xlsx' || currentFileExtension=='xls'" style="width: 110px;" class="rounded-circle" src="./assets/fileFormat/xls.png">
                        <img class="uk-preserve-width uk-border-circle" *ngIf="currentFileExtension=='pdf'" style="width: 110px;" class="rounded-circle" src="./assets/fileFormat/pdf.png">
                        <img class="uk-preserve-width uk-border-circle" *ngIf="currentFileIsImage" style="width: 100px; height: 100px;" [src]="f.preview">
                        <img class="uk-preserve-width uk-border-circle"*ngIf="!currentFileIsImage && currentFileExtension!='xlsx' && currentFileExtension!='xls' && currentFileExtension!='pdf'" style="width: 100px; height: 100px;" src="./assets/fileFormat/media.png">
                    </td>
                    <td class="uk-table-link">
                        <span class="uk-link-reset">{{f.name}}</span>
                    </td>
                    <td class="uk-text-truncate">Lorem</td>
                    <td class="uk-text-truncate">Lorem</td>
                    <td class="uk-text-nowrap">
                        <button type="button" class="btn btn-danger" (click)="removeAttach(i)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>