<vex-page-layout>
  <vex-secondary-toolbar current="Sincronizar">
    <vex-breadcrumbs [crumbs]="['Sincronizar', 'Vex']" fxFlex="auto"></vex-breadcrumbs>
    <button class="ml-2" color="primary" mat-icon-button type="button">
      <mat-icon [icIcon]="icBeenhere"></mat-icon>
    </button>
  </vex-secondary-toolbar>
  <vex-page-layout-content fxLayout="column" fxLayoutAlign="space-around none" fxLayoutGap="24px" vexContainer>
    <div class="grid gap-4 grid-cols-1">
      <div class="text-center pb-14 header">
        <!-- <div class="container">
          <h2 @fadeInUp class="display-2 mt-16 mb-8">Hello, how can we help?</h2>
        </div> -->
        <div @stagger class="-mb-16 mx-auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="24px" fxLayoutGap.xs="16px">
          <a @fadeInUp
          *ngFor="let action of actions"          
          fxFlex
          fxFlex.xs="auto"
          fxLayout="column"
          fxLayoutAlign="center center"
          matRipple
          [class.border-primary]="true" 
          (click)="action.function()"
          class="card block text-center p-6 hover:bg-app-bar trans-ease-out cursor-pointer relative no-underline text-dark border-2">
            <ic-icon [class.text-primary]="true" [icon]="action.icon" class="text-hint" size="42px"></ic-icon>
            <h3 class="title mb-0 mt-4">{{action.label}}</h3>
          </a>
        </div>
      </div>
    </div>
    <div class="grid gap-4 grid-cols-1">
      <div @stagger class="max-w-full" fxLayout="column" fxLayoutGap="24px" style="width: 100%;">
    
        <div class="bg-card py-16 px-gutter">
          <!-- <p>{{clientState}}</p> -->
          <div *ngIf="clientState=='qrReceived'" style="text-align: center;">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div>
                    <img style="margin-left: auto;margin-right: auto;" [src]="qr">
                    <!-- <qrcode [qrdata]="qr" [width]="256" [errorCorrectionLevel]="'M'"></qrcode> -->
                  </div>
                </div>
              </div>
            </div>
            <h2 class="headline my-6">Escanea tu codigo QR</h2>
          </div>
    
          <div *ngIf="clientState=='timeout'" style="text-align: center;">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="inline-block p-6 rounded-full text-primary mx-auto items-center justify-center bg-primary-light">
                    <ic-icon [icon]="icCry" size="90px"></ic-icon>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <h2 class="headline my-6">Código QR expirado</h2>
            <div class="container">
              <div class="row">
                <div class="col">
                  <button class="rounded-full max-w-full w-200" color="primary" mat-raised-button type="button" (click)="sincronize()">Generar nuevo QR</button>
                </div>
              </div>
            </div>
    
          </div>

        </div>
      
      </div>
    </div>

  </vex-page-layout-content>
</vex-page-layout>
