.mainRow{
    min-height: calc(100vh - 160px);
  }
  .dropzoneCenter{
      margin-left: auto!important;
      margin-right: auto!important;
      width: 100% !important;
      max-width: unset !important;
  }
  mdb-error {
      color:red;
  }
  ngx-dropzone-preview{
      background-image: unset!important;
  }
  .overflowtext{
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 200px;
  }
  select{
      -webkit-appearance: checkbox !important;
  }
  .noBorder{
      box-shadow: unset!important;
  }
  .borderBox{
      box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
  }
  .buttonsFilterContainer{
      // width: 90%;
      // min-height: 35px;
      // background: #F8F9FA;
      // height: 36px;
      // border: solid 1px lightgrey;
  }
  .colMinHeight{
    min-height: calc(100vh - 260px);
  }
  .adjuntos{
    min-height: 682px;
  }
  .spacBtw{
    display: flex;
    justify-content: space-between;
  }
  // .cardPruebas{
  //   min-height: calc(100vh - 528px);
  // }
  .dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
  }
  .iniciarsms{
    padding-left: 0px;
    padding-top: 0px;
  }
  .firstRow{
    min-height: 329px;
  }
  /****MENU*****/
  /******************************************************************************************/
  /******************************************************************************************/
  /****************************** NAV BAR CUSTOM STYLE ************************************ */
  /******************************************************************************************/
  /******************************************************************************************/
  
  /******************************************************************************************/
  /******************************************************************************************/
  /*MEDIA QUERY TEMPLATES/*
  /******************************************************************************************/
  /******************************************************************************************/
  /* XS */
  @media (max-width: 767px) {
  
  }
  /* XS, SM */
  @media (max-width: 991px) {
  
  }
  /* SM */
  @media (min-width: 768px) and (max-width: 991px) {
      .textAreaContainer{
          position: relative;
      }
      .textAreaItem{
          // position: absolute; bottom: 18px;
      }
  }
  /* MD */
  @media (min-width: 992px) and (max-width: 1199px) {
    
  }
  /* MD, LG */
  @media (min-width: 992px) {
      .textAreaContainer{
          position: relative;
      }
      .textAreaItem{
          // position: absolute; bottom: 18px;
      }
  }
  /* LG */
  @media (min-width: 1200px) {
    
  }
  /******************************************************************************************/
  /******************************************************************************************/
  /*MEDIA QUERY TEMPLATES/*
  /******************************************************************************************/
  /******************************************************************************************/