<div class="grid gap-4 grid-cols-1">
    <div @stagger class="max-w-full " fxLayout="column" fxLayoutGap="24px" style="width: 100%;">
  
      <div class="bg-card py-16 px-gutter fullDeviceHeight ion-align-self-center">
        
        <div *ngIf="clientState=='qrReceived'" style="text-align: center;">
          <div class="container">
            <div class="row">
              <div class="col">
                <div>
                  <img style="margin-left: auto;margin-right: auto;" [src]="qr">
                  <!-- <qrcode [qrdata]="qr" [width]="256" [errorCorrectionLevel]="'M'"></qrcode> -->
                </div>
              </div>
            </div>
          </div>
          <h2 class="headline my-6">Escanea tu codigo QR</h2>
        </div>
  
        <div *ngIf="clientState=='timeout'" style="text-align: center;">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="inline-block p-6 rounded-full text-primary mx-auto items-center justify-center bg-primary-light">
                  <ic-icon [icon]="icCry" size="90px"></ic-icon>
                </div>
              </div>
            </div>
          </div>
          <br>
          <h2 class="headline my-6">Código QR expirado</h2>
          <div class="container">
            <div class="row">
              <div class="col">
                <button class="rounded-full max-w-full w-200" color="primary" mat-raised-button type="button" (click)="sincronize()">Generar nuevo QR</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    
    </div>
  </div>