.tableTitle{
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 19px;
    border: 1px solid #eeeeee ;
}
.addMoreDevices{
    background: white;
    padding: 19px;
    border: 1px solid #eeeeee ;
}
.cellContainer{
    padding: 10px;
}
.mat-cell{
    padding: 20px;
}
.actionButton{
    padding: 10px;
}