.dropzoneCenter{
    margin-left: auto!important;
    margin-right: auto!important;
    width: 100% !important;
    max-width: unset !important;
    height: 100% !important;
    margin: 0px !important;
}
.overflowtext{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
}
.centerImage{
    margin-left: auto;
    margin-right: auto;
}