<ngx-dropzone id="{{id}}" (change)="changeFile($event)" [multiple]="false" style="height: 186px;">
    <ngx-dropzone-label>{{label}}</ngx-dropzone-label>
    <ngx-dropzone-preview class="dropzoneCenter" *ngFor="let f of files" [removable]="true" (removed)="removeFile(f)">
        <ngx-dropzone-label>
            <div class="row">
                <div class="col">
                    <img *ngIf="currentFileExtension=='xlsx' || currentFileExtension=='xls'" style="width: 110px;" class="centerImage rounded-circle" src="./assets/fileFormat/xls.png">
                    <img *ngIf="currentFileExtension=='pdf'" style="width: 110px;" class="centerImage rounded-circle" src="./assets/fileFormat/pdf.png">
                    <img *ngIf="currentFileIsImage" style="width: 100px; height: 100px;" class="centerImage" [src]="imgURL">
                    <img *ngIf="!currentFileIsImage && currentFileExtension!='xlsx' && currentFileExtension!='xls' && currentFileExtension!='pdf'" class="centerImage" style="width: 100px; height: 100px;" src="./assets/fileFormat/media.png">
                </div>
            </div>
            <div class="row">
                <div class="col overflowtext">
                    {{ f.name }}
                </div>
            </div>
        </ngx-dropzone-label>
    </ngx-dropzone-preview>
</ngx-dropzone>