<div class="w-full h-full bg-pattern" fxLayout="column" fxLayoutAlign="center center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/demo/logo.svg">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Bienvenido</h2>
      <h4 class="body-2 text-secondary m-0">Ingresa tus datos.</h4>
    </div>

    <div [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px">
      <div fxFlex="auto" fxLayout="column">
        <mat-form-field fxFlex="grow">
          <mat-label>Correo</mat-label>
          <input formControlName="correo" matInput required>
          <mat-error *ngIf="form.get('correo').hasError('required')">Necesita una direccion de correo para logearse.</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="grow">
          <mat-label>Clave</mat-label>
          <input [type]="inputType" formControlName="clave" matInput required>
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
            <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
            <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
          </button>
          <mat-hint>Click the eye to toggle visibility</mat-hint>
          <mat-error *ngIf="form.get('clave').hasError('required')">Necesita una contraseña para entrar</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-checkbox class="caption" color="primary">Recordarme</mat-checkbox>
        <a [routerLink]="['/forgot-password']" class="caption">Olvido su password?</a>
      </div>

      <button (click)="login()" color="primary" mat-raised-button type="button">Ingresar</button>

      <p class="text-secondary text-center">
        No tiene una cuenta?<br/>
        <a [routerLink]="['/register']">Crear</a>
      </p>
    </div>
  </div>
</div>
