.dropzoneCenter{
    margin-left: auto!important;
    margin-right: auto!important;
    width: 100% !important;
    max-width: unset !important;
    height: 100% !important;
    margin: 0px !important;
}
.overflowtext{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
}
.centerFormatImage{
    img{
        margin-left: auto;
        margin-right: auto;
    }
}
.selectedItem{
    padding: 10px;
}
.border{
    padding: 5px;
    display: flex;
    align-items: center;
}
.textOverflow{
    text-overflow: ellipsis;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
}
.divVcenter{
//     height: 90px;
//     display: table-cell;
//     vertical-align: middle;
}

.cropper{
    width: 100px; /* width of container */
    height: 100px; /* height of container */
    object-fit: cover;
    img{
        width: 100%;
        height: 100%;
    }
}



////////////////////VOYAGER///////////////
.files{
  display: flex;
  list-style: none;
  width: 100%;
  margin: 0;
  flex-wrap: wrap;
  padding: 10px;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  li{
    flex: 1;
      width: 100%;
      min-width: 200px;
      max-width: 250px;
  }
}
.file_link{
  background: #eee;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #ecf0f1;
  overflow: hidden;
  background: #f6f8f9;
  display: flex;
  flex: 1;
}
.link_icon{
  flex: 1;
  text-align: center;
  padding-left: 0;
  margin-left: 0;
  margin-right: 5px;
}
.img_icon{
  background-size: cover;
  background-image: url(https://voyager.cosaseria.club/storage/blogs/September2021/deTZn4QK5zBRyhLlV4J7.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  width: 100%;
  height: 100%;
}