<ngx-dropzone id="{{id}}" (change)="changeFile($event)" [multiple]="false" style="height: 186px;">
    <ngx-dropzone-label>
        <img style="width: 110px;margin-left: auto;margin-right: auto;" class="rounded-circle" src="./assets/plus.png">
        {{label}}
    </ngx-dropzone-label>
</ngx-dropzone>

<div>
<br><br>
    <ul class="files">
        <li *ngFor="let f of imgDataArray">
            <div class="file_link">
                <div class="link_icon">
                    <div *ngIf="f.fileExtension=='xlsx' || currentFileExtension=='xls'" class="img_icon" [style.background-image]="'url(./assets/fileFormat/xls.png)'"></div>
                    <div *ngIf="f.fileExtension=='pdf'" class="img_icon" [style.background-image]="'url(./assets/fileFormat/pdf.png)'"></div>
                    <div *ngIf="f.fileIsImage" class="img_icon" [style.background-image]="'url(' + f.preview + ')'"></div>
                    <div *ngIf="!f.fileIsImage && f.fileExtension!='xlsx' && f.fileExtension!='xls' && f.fileExtension!='pdf'" class="img_icon" [style.background-image]="'url(./assets/fileFormat/media.png)'"></div>
                </div>
                <div class="details">
                    <p class="textOverflow">{{ f.name }}</p>
                    <small>
                        <span>{{ f.fileExtension }}</span>
                    </small>
                </div>
            </div>
        </li>
    </ul>
</div>