<form (ngSubmit)="save()" [formGroup]="profileForm">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
      <img *ngIf="contact?.imageSrc" [src]="contact?.imageSrc" class="avatar ltr:mr-5 rtl:ml-5">
      <h2 class="headline m-0" fxFlex="auto">Actualizar Datos</h2>
  
      <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
      </button>
    </div>
  
    <mat-divider class="-mx-6 text-border"></mat-divider>
  
    <mat-dialog-content fxLayout="column">
      <mat-form-field class="mt-6">
        <mat-label>Nombre</mat-label>
        <input cdkFocusInitial formControlName="displayName" matInput>
  
        <mat-icon [icIcon]="icPerson" class="ltr:mr-3 rtl:ml-3" matPrefix></mat-icon>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Status</mat-label>
        <input formControlName="status" matInput>
  
        <mat-icon [icIcon]="icPhone" class="ltr:mr-3 rtl:ml-3" matPrefix></mat-icon>
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close type="button">CANCEL</button>
      <button color="primary" mat-button type="submit">GUARDAR</button>
    </mat-dialog-actions>
  </form>
  
  