<div class="grid gap-4 grid-cols-1 tableTitle">
  <h4>Dispositivos de whatsapp</h4>
  <button class="rounded-full max-w-full w-200" color="primary" mat-raised-button type="button"><i class="fab fa-whatsapp"></i>&nbsp;&nbsp;<span>Conectar número</span></button>
</div>
<div class="grid gap-4 grid-cols-1">
  <div class="text-center header">
    <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>
      <ng-container matColumnDef="image">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
          <img [src]="row['imageSrc']" class="avatar h-8 w-8 align-middle">
        </td>
      </ng-container>
      <ng-container matColumnDef="numero">
        <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Número</th>
        <td *matCellDef="let row" mat-cell style="text-align:left;">
          <p style="color: skyblue;font-weight: bold;">{{ row['nombre'] }}</p>
          <p>{{ row['numero'] }}</p>
        </td>
      </ng-container>
      <ng-container matColumnDef="estado">
        <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Estado</th>
        <td *matCellDef="let row" mat-cell style="text-align:left;">
          <div style="display: flex;align-items: baseline;"><button><i style="color: springgreen;"class="fas fa-circle"></i></button>&nbsp;&nbsp;<span>{{ row['estado'] }}</span></div>
          <p>{{ row['estadoMensaje'] }}</p>
        </td>
      </ng-container>
      <ng-container matColumnDef="plan">
        <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Plan</th>
        <td *matCellDef="let row" mat-cell style="text-align:left;">
          <div style="display: flex;align-items: baseline;"><button><i style="color: skyblue;"class="fas fa-flask"></i></button>&nbsp;&nbsp;<span>{{ row['plan'] }}</span></div>
          <p>{{ row['planMensaje'] }}</p>
        </td>
      </ng-container>
      <ng-container matColumnDef="facturacion">
        <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Facturacion</th>
        <td *matCellDef="let row" mat-cell style="text-align:left;">
          <div style="display: flex;align-items: baseline;"><span>{{ row['facturacionPorcentaje'] }} %</span>&nbsp;&nbsp;<span style="color: darkgray;">{{ row['facturacionMensaje'] }}</span></div>
          <mat-progress-bar mode="determinate" [value]="row['facturacionPorcentaje']"></mat-progress-bar>
        </td>
      </ng-container>
      <ng-container matColumnDef="estadisticas">
        <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Estadisticas</th>
        <td *matCellDef="let row" mat-cell style="text-align:left;">
          <div class="grid gap-4 grid-cols-3">
            <div><p>Texto</p><p>0/100</p></div>
            <div><p>Media</p><p>0/100</p></div>
            <div><p>Cola</p><p>0/100</p></div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Acciones</th>
        <td *matCellDef="let row" mat-cell style="text-align:right;">
          <button class="actionButton" (click)="openDevice(row)"><i class="fas fa-eye"></i></button>
          <button class="actionButton"><i class="fas fa-ellipsis-v"></i></button>
        </td>
      </ng-container>
      <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: visibleColumns;"
          @fadeInUp
          class="hover:bg-hover trans-ease-out cursor-pointer"
          mat-row></tr>
    </table>
  </div>
</div>
<div class="grid gap-4 grid-cols-1 addMoreDevices" style="text-align: center;">
  <i class="fab fa-whatsapp" style="font-size: 80px;color: lightgray;margin-left: auto;margin-right: auto;"></i>
  <h4 style="font-size: 28px;">¿Tienes más números de WhatsApp?.</h4>
  <p style="color:lightgray;">Si tienes varios números de WhatsApp, tambien puedes crear varios dispositivos.</p>
  <p style="color:lightgray;">Nuestra plataforma es flexible para que puedas escalar tanto como necesites.</p>
  <button class="rounded-full max-w-full w-200" color="primary" mat-raised-button type="button" style="margin-right: auto;margin-left: auto;"><i class="fab fa-whatsapp"></i>&nbsp;&nbsp;<span>Conectar número</span></button>
</div>